<!DOCTYPE html>
<html>
<head>
  <title>Cargoof</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header id="head" role="banner">
		<div class="head-inner">
			<hgroup id="logohead">
				<h1 id="site-title">
					<a href="#" title="Cargoof" rel="home">Cargoof Logo</a>
				</h1>
			</hgroup>
			<hgroup id="optionshead">
				<% if user_signed_in? %>
					Signed in as <%= current_user.email %>. Not you?
					<%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
				<% else %>
					<%= link_to "Sign Up", new_user_registration_path %> or <%= link_to "Sign In", new_user_session_path %>
				<% end %>
				<br />
				<a href="#" title="PostFreeAd" rel="home">Post Free Ad</a>
				<a href="#" title="MyPage" rel="home">My Page</a>
			</hgroup>
		</div>
		<div class="settings-bar">
			<table>
				<tr>
					<td id="browse-cats">
						<a href="#" style=>Browse Categories</a>
						<ul id="categories">
				            <li><a href="#">Vehicle Repair</a></li>
				            <li><a href="#">Vehicle Sales</a></li>
				            <li><a href="#">Parts</a></li>
				            <li><a href="#">Tow Truck</a></li>
				            <li><a href="#">Specialty</a></li>
				            <li><a href="#">Rentals</a></li>
				            <li><a href="#">Insurance</a></li>
				            <li><a href="#">Finance</a></li>
				            <li><a href="#">Advice / Tips</a></li>
				        </ul>	
					</td>
					<td id="search">
						<%= form_tag() do %>
					        <%= text_field_tag :isbn, nil, placeholder: 'Search For Something...', size: 65 %>
					        <%= submit_tag("Search") %>
						<% end %>
					</td>
					<td id="my-location">
						<a href="#" style=>My Location</a>
						<ul id="location">
				            <li><a href="#">Alberta</a></li>
				            <li><a href="#">Britich Columbia</a></li>
				            <li><a href="#">Manitoba</a></li>
				            <li><a href="#">New Brunswick</a></li>
				            <li><a href="#">Newfoundland</a></li>
				            <li><a href="#">Nova Scotia</a></li>
				            <li><a href="#">Ontario</a></li>
				            <li><a href="#">Prince Edward Island</a></li>
				            <li><a href="#">Quebec</a></li>
				            <li><a href="#">Saskatchewan</a></li>
				            <li><a href="#">Territories</a></li>
				        </ul>		
					</td>
				</tr>
			</table>
		</div>
		<div class ="head-outer">
			<div class="post-new">
				<a href="#">Post Classified Ad - Fast, Easy, & Free</a>
			</div>
			<nav id="access" role="navigation">
				<div class="primary-nav-menu-container">
					<ul id="menu-primary-nav">
						<li id="menu-item">
							<a href="#" style=>Vehicle Repair</a>
							<ul id="vehicle-repair">
					            <li><a href="#">Car / SUV / Van</a></li>
					            <li><a href="#">Truck</a></li>
					            <li><a href="#">Motorcycle</a></li>
					            <li><a href="#">RV / Trailer</a></li>
					            <li><a href="#">Boat / Watercraft</a></li>
					            <li><a href="#">Snowmobile</a></li>
					            <li><a href="#">ATV</a></li>
					            <li><a href="#">Other</a></li>
					        </ul>
						</li>
						<li id="menu-item">
							<a href="#">Vehicle Sales</a>
							<ul id="vehicle-sales">
					            <li><a href="#">Car / SUV / Van</a></li>
					            <li><a href="#">Truck</a></li>
					            <li><a href="#">Motorcycle</a></li>
					            <li><a href="#">Classic Cars</a></li>
					            <li><a href="#">RV / Trailer</a></li>
					            <li><a href="#">Boat / Watercraft</a></li>
					            <li><a href="#">Snowmobile</a></li>
					            <li><a href="#">ATV</a></li>
					            <li><a href="#">Other</a></li>
					        </ul>
						</li>
						<li id="menu-item">
							<a href="#">Parts</a>
							
						</li>
						<li id="menu-item">
							<a href="#">Tow Truck</a>
						</li>
						<li id="menu-item">
							<a href="#">Specialty</a>
							<ul id="specialty">
					            <li><a href="#">Fluid Change</a></li>
					            <li><a href="#">Tire Service</a></li>
					            <li><a href="#">Body Shops</a></li>
					            <li><a href="#">Windshield Repair / Replacement</a></li>
					            <li><a href="#">Tinting</a></li>
					            <li><a href="#">Detailing</a></li>
					            <li><a href="#">Car Wash</a></li>
					            <li><a href="#">Audio / Video Installation</a></li>
					            <li><a href="#">Key Make / Repair</a></li>
					            <li><a href="#">Restoration</a></li>
					            <li><a href="#">Junk Yard</a></li>
					            <li><a href="#">Scrap Removal</a></li>
					            <li><a href="#">Traffic Tickets</a></li>
					            <li><a href="#">Driving School</a></li>
					            <li><a href="#">Delivery</a></li>
					            <li><a href="#">Other</a></li>
					        </ul>
						</li>
						<li id="menu-item">
							<a href="#">Rentals</a>
							<ul id="specialty">
					            <li><a href="#">Car / SUV / Van / Truck</a></li>
					            <li><a href="#">Limo</a></li>
					            <li><a href="#">Taxi</a></li>
					            <li><a href="#">Bus</a></li>
					            <li><a href="#">Luxury Vehicles</a></li>
					            <li><a href="#">Exotic</a></li>
					            <li><a href="#">Other</a></li>
					        </ul>
						</li>
						<li id="menu-item">
							<a href="#">Insurance</a>
						</li>
						<li id="menu-item">
							<a href="#">Finance</a>
						</li>
						<li id="menu-item">
							<a href="#">Advice / Tips</a>
							<ul id="advice">
					            <li><a href="#">Diagnose / Find Problem</a></li>
					            <li><a href="#">Estimate Cost</a></li>
					            <li><a href="#">How-To-Guides</a></li>
					            <li><a href="#">Auto Answers</a></li>
					            <li><a href="#">News</a></li>
					            <li><a href="#">Reviews</a></li>
					            <li><a href="#">Forums</a></li>
					            <li><a href="#">Other</a></li>
					        </ul>
						</li>
					</ul>
				</div>
			</nav>
			<br />
		</div>
	</header>

<%= yield %>

	<footer id="foot">
		<div class="footer-container">
			<div class="footer-settings">
				<ul id="footer-nav">
					<li id="footer-menu-item">
						<a href="#" style="font-weight:600">Cargoof Information</a>
						<ul>
				            <li><a href="#">Terms of Use</a></li>
				            <li><a href="#">Privacy Policy</a></li>
				            <li><a href="#">Posting Policy</a></li>
				        </ul>
					</li>
					<li id="footer-menu-item">
						<a href="#" style="font-weight:600">Cargoof Support</a>
						<ul>
				            <li><a href="#">Contact Us</a></li>
				            <li><a href="#">Safety Tips</a></li>
				            <li><a href="#">Help</a></li>
				        </ul>
					</li>
					<li id="footer-menu-item">
						<a href="#" style="font-weight:600">Explore Cargoof</a>
						<ul>
							<li><a href="#">Popular Searches</a></li>
				            <li><a href="#">Member Benefits</a></li>
				            <li><a href="#">About Us</a></li>
			            </ul>
					</li>
					<li id="footer-menu-item">
						<a href="#" style="font-weight:600">Frequently Asked</a>
						<ul>
				            <li><a href="#">How do I get people to see my ad?</a></li>
				            <li><a href="#">Where is my Cargoof ad?</a></li>
				            <li><a href="#">How can I change my ad?</a></li>
				            <li><a href="#">How do I delete my ad?</a></li>
				            <li><a href="#">More</a></li>
				        </ul>
					</li>
				</ul>
			</div>
		</div>
	</footer>

    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>

</body>
</html>
